encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "{{ pass "ADM/AGE_KEY" }}"
[diff]
    command = "meld"
    args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
    exclude = ["scripts"]
    pager = "delta"
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
