{{- if eq .chezmoi.hostname "samsung" }}
/home/ssserpent,antix:/mnt/raid/home_dir_samsung_bckp
{{- end}}
{{- if eq .chezmoi.hostname "texus" }}
/home/ssserpent,antix:/mnt/raid/home_dir_texus_bckp
/run/media/ssserpent/HDD500_1/Movies_MK,antix:/mnt/raid/Movies_MK
/run/media/ssserpent/HDD500_1/.free,antix:/mnt/raid/.free
/run/media/ssserpent/HDD500_1/TV_Series,antix:/mnt/raid/TV_Series
/run/media/ssserpent/HDD500_1/DOCUMENTARIES,antix:/mnt/raid/DOCUMENTARIES
/run/media/ssserpent/HDD500_1/Books,antix:/mnt/raid/Books
/run/media/ssserpent/250_HDD/torrents,antix:/mnt/raid/torrents
{{- end}}
