{{- if eq .chezmoi.hostname "samsung" }}
/home/ssserpent,antix:/mnt/external/home_dir_samsung_bckp
{{- end}}
{{- if eq .chezmoi.hostname "texus" }}
/home/ssserpent,antix:/mnt/external/home_dir_texus_bckp
/run/media/ssserpent/250_HDD/Movies,antix:/mnt/external/Movies
/run/media/ssserpent/250_HDD/TV_Series,antix:/mnt/external/TV_Series
/run/media/ssserpent/250_HDD/torrents,antix:/mnt/external/torrents
{{- end}}
