separator_block_width=14

[weather]
command=echo "$(curl -Ss 'https://wttr.in?0&T&Q' | cut -c 16- | head -1 | sed 's/[^[:alpha:][:space:]]//g')"
interval=1800
color=#A4C2F4
separator=false

[Weather]
command=echo "$($XDG_CONFIG_HOME/i3/scripts/IconicWeather.sh "32-020")"
interval=1800
color=#A4C2F4

separator=true

[volume]
command=echo "$(pactl list sinks | grep 'Volume:' | head -n 1 | awk -F/ '{print $2}' | tr -d '[:space:]')"
label= 
interval=once
color=#a89984

[mail]
label=S: 
command=$XDG_CONFIG_HOME/i3/scripts/.mails.sh.x
interval=1800
color=#b16286 

[mail]
label=T: 
command=$XDG_CONFIG_HOME/i3/scripts/.mailt.sh.x
interval=1800
color=#d3869b 

[disk]
command=$XDG_CONFIG_HOME/i3/scripts/disk
LABEL=:
DIR=/
ALERT_LOW=10
interval=30
color=#859900

[disk]
command=$XDG_CONFIG_HOME/i3/scripts/disk
LABEL=:
DIR=/run/media/ssserpent/gen_dta
ALERT_LOW=10
interval=30
color=#b8bb26

[AUR]
label=AUR:
command=echo "$(updates=$(yay -Qua 2>/dev/null | wc -l); echo "$updates")"
interval=7200
color=#cc241d

[PAC]
label=PAC:
command=echo "$(updates=$(checkupdates 2>/dev/null | wc -l); echo "$updates")"
interval=7200
color=#fb4934

[wifi]
command=echo "$(nmcli -t -f active,ssid,signal dev wifi | grep yes | cut -d: -f2,3) $(ip -4 -o addr show wlan0 | awk '{print $4}' | cut -d/ -f1)" 
label=
interval=10
color=#689d6a

[ethernet]
label=:
command=echo "$(ip addr show eno1 | grep -oP '(?<=inet\s)\d+\.\d+\.\d+\.\d+')"
interval=1800
color=#98971a

[memory]
command=$XDG_CONFIG_HOME/i3/scripts/memory
label=MEM
interval=30
color=#b16286

#[temp]
#label=
#command=echo "$(sensors | awk '/Core 0/ {printf "%.0f°C\n", $3}')"
#interval=10
#color=#b58900

[temperature]
command=$XDG_CONFIG_HOME/i3/scripts/temperature
label= 
interval=10
T_WARN=70
T_CRIT=90
#SENSOR_CHIP=""
color=#b58900

[cpu_usage]
command=$XDG_CONFIG_HOME/i3/scripts/cpu_usage
interval=10
LABEL=CPU 
#min_width=CPU: 100%
T_WARN=50
T_CRIT=80
DECIMALS=0
COLOR_NORMAL=#EBDBB2
COLOR_WARN=#FFFC00
COLOR_CRIT=#FF0000

[load]
label= 
#command=echo "$(top -bn1 | grep 'Cpu(s)' | awk '{print $2 + $4}' | head -n 1)%" # snapshot of temp
command=echo "$(uptime | awk -F'[a-z]:' '{printf "%.2f%\n", 100 * $2 / $(NF-2)}')" # average load 5min
interval=10
color=#6c71c4

[battery]
{{- if eq .chezmoi.hostname "lenovo" }}
# for lenovo laptop
command=upower -i /org/freedesktop/UPower/devices/battery_BAT1 | grep percentage | awk '{print $2}'
{{ end }}
{{- if eq .chezmoi.hostname "archlinux" }}
# for samsung laptop
command=upower -i /org/freedesktop/UPower/devices/battery_BAT0 | grep percentage | awk '{print $2}'
{{ end }}
interval=30
LABEL=BAT
# LABEL=⚡
# BAT_NUMBER=1
color=#cc241d

# command=upower --dump | grep keyboard -A 7 | grep percentage | awk '{print "K2:" $2}'
# interval=600
# color=#cc241d

[monitors]
command=$XDG_CONFIG_HOME/i3/scripts/monitor_manager
interval=once
#SHOW_ON_OFF=1
#SHOW_NAMES=1
#SHOW_PRIMARY=1
#SHOW_MODE=1
#SHOW_BLANKED=1
#SHOW_DUPLICATE=1
#SHOW_ROTATION=1
#SHOW_REFLECTION=1
#SHOW_BRIGHTNESS=1
#SHOW_BRIGHTNESS_VALUE=0
#SHOW_UP_DOWN=1
FONT_FAMILY=Inconsolata Nerd Font Complete Mono.otf
FONT_SIZE=10
#CLOSE_TO_BOUNDARY_BUFFER=20

[gpu-load]
command=$XDG_CONFIG_HOME/i3/scripts/gpu-load
label=GPU
interval=10
#min_width=GPU 100% 100% 100% 100%
GPU_BRAND=AMD
#T_WARN=70
#T_CRIT=90

[time]
label= 
command=date '+%a %d-%m-%y %k:%M:%S'
interval=1
color=#50C878
